* {
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  padding-top: 200px;
  background-image: url(https://i.ibb.co/gysT0rd/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  place-content: center;
}

h1 span {
  color:#DB2777
}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 86px;
  font-style: normal;
  color: black
  
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 72px;
  color: #2C2E2F;
  opacity: 0.9;
}

a {
  padding: 16px 32px;
  color: black;
  font-family: 'Cinzel', serif;
  text-decoration: none;
  font-style: normal;
}

.travel-now {
  background-color: #DB2777;
  border-radius: 80px;
  color: white;
  text-decoration: none;
}
